@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$font: 'Roboto', sans-serif;

$color-primary: rgb(88, 87, 87);
$color-secondary: #F4DFE4;
$color-tertiary: #DDECF5;
$color-tertiary-light: #F7F6D8;
$color-background: #E5E6E4;
$color-background-light: #F5F5F5;

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: 20px;
  color: $color-primary;
  background-color: $color-background;
}