@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$font: 'Roboto', sans-serif;

$color-primary: rgb(88, 87, 87);
$color-secondary: #FFEDE1;
$color-tertiary: #AFCBFF;
$color-tertiary-light: #D7F9FF;
$color-background: #F9FBF2;

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: 20px;
  color: $color-primary;
}